configparser==5.0.1
Flask==1.1.2
redis==3.5.3
rq==1.6.1
marshmallow==3.9.1
pytest==6.1.2
pytest-cov==2.10.1
flake8==3.8.4
python-ldap==3.3.1
Flask-Sessionstore==0.4.5
Flask-SQLAlchemy==2.4.4
SQLAlchemy-Utils==0.36.8
flask-talisman==0.7.0
pysaml2==6.3.1
flask-Login==0.5.0
Flask-Cors==3.0.9
Flask-SeaSurf==0.2.2
Flask-Migrate==2.5.3
bcrypt==3.2.0
Flask-Bcrypt==0.7.1
