configparser==6.0.0
Flask==2.3.2
redis==4.0.0
rq==1.14
marshmallow==3.9.1
pytest==6.1.2
pytest-cov==2.10.1
flake8==3.8.4
python-ldap==3.4.2
Flask-Sessionstore==0.4.5
Flask-SQLAlchemy==3.0.5
SQLAlchemy-Utils==0.41.1
flask-talisman==0.7.0
pysaml2==7.3.1
Flask-Login==0.6.3
Flask-Cors==3.0.9
Flask-SeaSurf==1.1.1
Flask-Migrate==3.0.1
bcrypt==3.2.0
Flask-Bcrypt==1.0.1
pathvalidate==2.3.1
